In [41]:
# 1)Swap two numbers without temp variable
a = 45
b =18
a,b = b,a
print("a:",a)
print("b:",b)

a: 18
b: 45

In [42]:
#2)Check if number is positive, negative, or zero
n = int(input("Enter a number"))
if n>0:
  print('Positive')
elif n<0:
  print("Negative")
else:
  print("Neutral")

Enter a number2
Positive

In [43]:
#3)Largest of three numbers
a,b,c = map(int,input("enter 3 number").split())
x = max(a,b,c)
print(x)

enter 3 number2 3 45
45

In [44]:
#4)Celsius to Fahrenheit
c = float(input("Enter a number"))
f = (c*9/5)+32
print(f)

Enter a number32
89.6

In [45]:
#5)Remainder without using %
a = 8
b = 3
c = a - (a//b) *b
print(c)

2

In [46]:
#6)Multiplication table
n = int(input("Enter a number"))
for i in range(1,11):
  print(f"{n} * {i} = {n*i} ")

Enter a number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [49]:
#7)Even or Odd
n=int(input("Enter a number"))
if n%2 == 0:
  print("Even")
else:
  print("odd")3

Enter a number2
Even

In [48]:
#8)Simple Interest
p = float(input("Enter a number "))
t = float(input("Enter a number 2"))
r = float(input("Enter a number 3"))
k = (p*t*r)/100
print(k)

Enter a number 3
Enter a number 22
Enter a number 32
0.12

In [50]:
#9)Convert string to int safely
s = input("Enter a string")
try:
  x = int(s)
  print(x)
except ValueError:
  print("Ivalid input")

Enter a string32
32

In [51]:
#10)Square and cube of number
n = int(input("Enter a number"))
print("Square:", n**2)
print("cube:",n**3)

Enter a number2
Square: 4
cube: 8

In [52]:
#11)Check Leap Year
year = int(input("enter a number"))
if (year % 400 == 0) or (year%4==0 and year%100!=0):
    print("Leap year")
else:
    print("Not leap year")

enter a number2026
Not leap year

In [53]:
# 12)Grade Caluculater
marks = int(input("Enter marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
elif marks >= 40:
    print("Grade D")
else:
    print("Fail")

Enter marks: 90
Grade A

In [54]:
#13)Vowel or Consonant
char = input("enter a string").lower()
if char.isalpha():
  if char in "aeiou":
    print("vowel")
  else:
      print("constant")
else:
  print("Invalid output")

enter a stringbalu
constant

In [55]:
#114) smallest Number
a, b, c, d = map(int, input("Enter 4 numbers: ").split())

smallest = min(a, b, c, d)
print("Smallest:", smallest)

Enter 4 numbers: 2 3 4 5
Smallest: 2

In [56]:
# 15)ATM Withdrawal Logic
withdraw = int(input("enter a number"))
balance = 10000
if withdraw<=balance:
  balance-=withdraw
  print("Remaining balance:",balance)
  print("Transaction successful")
else:
  print("Insufficient balance")

enter a number5000
Remaining balance: 5000
Transaction successful

In [57]:
#16)Check Voting Eligibility
n = int(input("Enter a number"))
if n>=18:
  print("Eligible")
else:
  print("Not eligible")

Enter a number18
Eligible

In [58]:
# 17)Triangle Validity
a, b, c = map(int, input("Enter 3 sides: ").split())

if a + b > c and a + c > b and b + c > a:
    print("Valid Triangle")
else:
    print("Invalid Triangle")

Enter 3 sides: 2 3 4
Valid Triangle

In [59]:
# 18)Electricity Bill
units = int(input("Enter units: "))

if units <= 100:
    bill = units * 1.5
elif units <= 200:
    bill = (100 * 1.5) + (units - 100) * 2.5
else:
    bill = (100 * 1.5) + (100 * 2.5) + (units - 200) * 4

print("Bill Amount:", bill)

Enter units: 200
Bill Amount: 400.0

In [60]:
# 19)Login Validation
username = input("Username: ")
password = input("Password: ")

if username == "admin" and password == "1234":
    print("Login Successful")
else:
    print("Invalid Credentials")

Username: admin
Password: 1234
Login Successful

In [61]:
#20)Discount caluculation
amount = float(input("Enter purchase amount: "))

if amount >= 5000:
    discount = 0.20
elif amount >= 2000:
    discount = 0.10
else:
    discount = 0

final_price = amount - (amount * discount)
print("Final Price:", final_price)

Enter purchase amount: 2000
Final Price: 1800.0