1.Check whether a number is positive, negative, or zero

In [2]:
n = int(input("enter the number: "))

if n > 0:
    print("Positive number")
elif n < 0:
    print("Negative number")
else:
    print("Zero")

enter the number: 5
Positive number

2.Find largest of 3 numbers

In [9]:
n1 = int(input("Enter the number 1: "))
n2 = int(input("Enter the number 2: "))
n3 = int(input("Enter the number 3: "))
if n1>n2 and n1>n3:
    print("n1 is greater")
elif n2>n1 and n2>n3:
    print("n2 is greater")
else:
    print("n3 is greater")

Enter the number 1: 1
Enter the number 2: 2
Enter the number 3: 3
n3 is greater

3.Check whether a number is prime

In [3]:
n = int(input("Enter the number: "))

if n <= 1:
    print("Not a prime number")
else:
    is_prime = True

    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime number")
    else:
        print("Not a prime number")

Enter the number: 5
Prime number



4.Count how many digits are in a number

In [4]:
n = int(input("Enter number: "))

count = 0

if n == 0:
    count = 1
else:
    while n > 0:
        count += 1
        n = n // 10

print("Number of digits:", count)

Enter number: 4
Number of digits: 1

5.Reverse a number

In [5]:
n = int(input("Enter number: "))

rev = 0

while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10

print("Reversed number:", rev)

Enter number: 789
Reversed number: 987

6.Find sum of digits

In [6]:
n = int(input("Enter number: "))

sum_digits = 0

while n > 0:
    digit = n % 10
    sum_digits += digit
    n = n // 10

print("Sum of digits:", sum_digits)

Enter number: 123
Sum of digits: 6


7.Print all even numbers between 1 and N

In [7]:
n = int(input("Enter N: "))

for i in range(1, n + 1):
    if i % 2 == 0:
        print(i)

Enter N: 5
2
4



8.Count how many even and odd digits in a number

In [8]:
n = int(input("Enter number: "))

even_count = 0
odd_count = 0

while n > 0:
    digit = n % 10

    if digit % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

    n = n // 10

print("Even digits:", even_count)
print("Odd digits:", odd_count)

Enter number: 12345
Even digits: 2
Odd digits: 3

9.Check whether a number is divisible by 5 and 11

In [10]:
n = int(input("Enter the number: "))
if (n % 5 == 0 and n%11 == 0):
    print("yes it is divisible")
else:
    print("not divisible")

Enter the number: 55
yes it is divisible

10. palindrome number

In [13]:
n = int(input("enter:"))
temp = n
rev = 0
while n > 0:
    rev = rev *10 + n % 10
    n = n// 10
if temp ==  rev:
    print("it is palindrome")
else:
    print("it is not palindrome")

enter:121
it is palindrome

11. Armstrong Number

In [15]:
n = int(input("enter the number: "))
temp = n
sum = 0
while n>0:
    d = n %10
    sum+=d**3
    n = n//10
if temp ==  sum:
    print("it is palindrome")
else:
    print("it is not palindrome")

enter the number: 153
it is palindrome

12.Celsius to Fahrenheit

In [16]:
c = float(input())
f = (c*9/5) + 32
print(f)

45
113.0

13 . Perfect NUmber

In [2]:
n = int(input("Enter the number: "))

sum = 0
for i in range(1,n):
    if n % i == 0:
        sum+=i
if sum == n:
    print("perfect number")
else:
    print("not perfect number")

Enter the number: 6
perfect number

14.Print numbers from 1 to N

In [5]:
n = int(input("Enter the Number: "))
for i in range (n + 1):
    print(i)

Enter the Number: 6
0
1
2
3
4
5
6

15.Print even numbers from 1 to N

In [7]:
n = int(input("Enter the number: "))
for i in range(2, n+1,2):
    print(i)

Enter the number: 6
2
4
6

16.Print odd numbers from 1 to N

In [8]:
n = int(input("Enter the number: "))
for i in range(1, n+1,2):
    print(i)

Enter the number: 6
1
3
5

17.Find the sum of first N numbers

In [9]:
n = int(input("enter the number"))
sum = 0
for i in range(n):
    sum+=i
print(sum)

enter the number6
15

18.Find the factorial of a number

In [14]:
n = int(input("Enter the number:"))
fact = 1
for i in range(1,n+1):
    fact *= i
print(fact)

Enter the number:5
120

19.Count digits in a number

In [17]:
n = int(input("Enter the number: "))
count = 0
if n==0:
        count = 1
while n>0:
    count+=1
    n = n//10
print("Number of digits:", count)

Enter the number: 123
Number of digits: 3

20.Find the sum of digits

In [20]:
n = int(input("Enter the number"))
sum = 0
while n >0:
    d = n %10
    sum = sum + d
    n = n//10
print(sum)

Enter the number111
3

21.Reverse a number

In [22]:
n = int(input("Enter the number: "))
rev = 0
while n>0:
    rev = rev*10 + n%10
    n = n//10
print(rev)

Enter the number: 123
321

22.Find the product of digits

In [35]:
n = input("Enter the number")
product = 1

for d in n:
    product *=int(d)
    
print(product)

Enter the number154
20

23.Count even and odd digits

In [37]:
n = int(input())
even = 0
odd = 0

while n > 0:
    d = n % 10
    if d % 2 == 0:
        even += 1
    else:
        odd += 1
    n //= 10

print("Even:", even)
print("Odd:", odd)

1234
Even: 2
Odd: 2

24.Print multiplication table of a number

In [38]:
n = int(input())

for i in range(1, 11):
    print(n, "x", i, "=", n*i)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

25.Print all factors of a number

In [41]:
n = int(input("Enter the number:"))
for i in range(1,n+1):
    if n % i == 0:
        print(i)

Enter the number:11
1
11

26.Find GCD of two numbers

In [43]:
a = int(input("Enter number 1"))
b = int(input("Enter number 2"))

while b != 0:
    a, b = b, a % b

print(a)

Enter number 12
Enter number 22
2



27.Find LCM of two numbers

In [44]:
a = int(input())
b = int(input())
x = a * b

while b != 0:
    a, b = b, a % b

lcm = x // a
print(lcm)

4
6
12



28.Print Fibonacci series up to N terms

In [47]:
n = int(input("Enter the number: "))
a,b = 0,1
for i in range(n):
    print(a)
    a,b= b,a+b

Enter the number: 5
0
1
1
2
3

29.Print a right-angle triangle of *

In [51]:
n = int(input("Enter the number:"))
for i in range(1,n+1):
    print("*" * i)

Enter the number:4
*
**
***
****


30.Print inverted right-angle triangle

In [52]:
n = int(input("ENter the integer: "))
for i in range(n,0,-1):
    print("*"*i)

ENter the integer: 4
****
***
**
*

31.Print pyramid pattern

In [54]:
n = int(input("Enter the number: "))
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i -1))

Enter the number: 4
   *
  ***
 *****
*******



32.Print number triangle

In [55]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number: 4
1
1 2
1 2 3
1 2 3 4

33.Print Floyd’s triangle

In [58]:
n = int(input())
num = 1

for i in range(1, n+1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15



34.Print Pascal’s triangle

In [59]:
n = int(input())
row = [1]

for i in range(n):
    print(row)
    new_row = [1]
    for j in range(len(row)-1):
        new_row.append(row[j] + row[j+1])
    new_row.append(1)
    row = new_row

4
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

35.Print hollow square

In [60]:
n = int(input())

for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

4
****
*  *
*  *
****



36.Print hollow pyramid

In [61]:
n = int(input())

for i in range(1, n+1):
    for j in range(1, 2*n):
        if j == n-i+1 or j == n+i-1 or i == n:
            print("*", end="")
        else:
            print(" ", end="")
    print()

5
    *
   * *
  *   *
 *     *
*********

37.Print diamond pattern

In [57]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
    print(" "*(n-i) + "*" * (2*i - 1))
for i in range(n-1,0,-1):
    print(" "*(n-i) + "*"*(2*i-1))

Enter the number: 4
   *
  ***
 *****
*******
 *****
  ***
   *



38.Print alphabet pattern

In [62]:
n = int(input())

for i in range(1, n+1):
    for j in range(i):
        print(chr(65 + j), end="")
    print()

4
A
AB
ABC
ABCD

39.Find the Second Largest Number

In [65]:
a = int(input("number 1: "))
b = int(input("number 2: "))
c = int(input("number 3: "))
if a>b and a>c:
    print(max(b,c))
elif b>a and b>c:
    print(max(a,c))
else:
    print(max(a,b))

number 1: 3
number 2: 4
number 3: 5
4

40.Count How Many Prime Numbers Up to N

In [66]:
n =int(input("Enter the number"))
count = 0
for i in range(2,n+1):
    for j in range(2,i+1):
        if n%i == 0:
            break
    else:
        count+=1
print(count)

Enter the number5
3

41.Convert Decimal to Binary

In [70]:
n = int(input())
binary = ""

while n > 0:
    binary = str(n % 2) + binary
    n //= 2

print(binary)

5
101

42.Binary to decimal

In [71]:
b = input()
decimal = 0

for digit in b:
    decimal = decimal * 2 + int(digit)

print(decimal)

100
4

43.swap two numbers without using Temp

In [74]:
a = int(input("enter the number"))
b = int(input("Enter the number"))

a = a + b
b = a - b
a = a - b
print(a,b)

enter the number1
Enter the number3
3 1

44. Print First N Prime Numbers

In [75]:
n = int(input())
count = 0
num = 2

while count < n:
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)
        count += 1
    num += 1

5
2
3
5
7
11

45.Give code for prime number if it is prime give its count and if not prime simply print it is not prime

In [79]:
n = int(input("enter the number: "))


if n <= 1:
    print("Not a prime number")
else:
    is_prime = True

    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

    if not is_prime:
        print("Not a prime number")
    else:
        
        prime_count = 0

        for num in range(2, n + 1):
            divisor_count = 0

            for j in range(1, num + 1):
                if num % j == 0:
                    divisor_count += 1

            if divisor_count == 2:
                prime_count += 1

        print(n, "is a prime number and it is the", prime_count, "prime number")

enter the number: 11
11 is a prime number and it is the 5 prime number